    <main>
            <!--navigation header-->
        <nav class="navbar navbar-expand-lg navbar-dark human-skin-jay">
            <div class="container">
              <a class="navbar-brand" [routerLink]="['']">The Cinema Online Tickets Service</a>
            </div>
        </nav>

        <div class="container"  id="main_container">
           <!--Children components-->   
            <router-outlet></router-outlet>
        </div>
       
        
        <!--footer-->
        <footer class="py-5 black-brown-jay">
            <div class="container">
              <p class="m-0 text-center text-white">Copyright &copy; Zlatov Vyacheslav 2018</p>
            </div>
            <!-- /.container -->
        </footer>
    </main>
    
  
  
    
  
