    <main>
        <!--navigation header-->
      <nav class="navbar navbar-expand-lg navbar-dark human-skin-jay">
        <div class="container">
          <a class="navbar-brand" [routerLink]="['']">The COTS</a>
        </div>
      </nav>

      <!--Children components-->   
      <router-outlet></router-outlet>
      
      <!--footer-->
      <footer class="py-5 black-brown-jay">
          <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
          </div>
          <!-- /.container -->
      </footer>
    </main>
    
  
  
    
  
