<br/>
<a style="text-decoration: none; color:black; cursor: pointer;" (click)="goToCinemaUrl()">
    <div class="card" style="width: 15rem;">
        <img class="card-img-top" src={{cinema.imagePath}} alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" style="min-height: 40px; font-size: 12pt;">{{cinema.name}}</h5>           
          <div class="text-center">
              <p class="card-text" style="min-height: 60px; font-size: 12pt;">{{cinema.address}}</p>
          </div>             
        </div>
    </div>
</a>
<br/>