<div class="container">
    <div class="row">
        <div class="col">
            <div class="hall" >
                <table class="table-hall">
                    <tr>
                        <td colspan="21">
                            <div class="screen">Экран</div>
                        </td>
                    </tr>
                    <tr >
                        <td colspan="4" class="td-row-left">1</td>                       
                        <td ><button class="btn-form seats_one">12</button></td>
                        <td><button class="btn-form seats_one">11</button></td>
                        <td><button class="btn-form seats_one">10</button></td>
                        <td><button class="btn-form seats_one">9</button></td>
                        <td><button class="btn-form seats_one">8</button></td>                      
                        <td><button class="btn-form seats_one">7</button></td>
                        <td><button class="btn-form seats_one">6</button></td>
                        <td><button class="btn-form seats_one">5</button></td>
                        <td><button class="btn-form seats_one">4</button></td>
                        <td><button class="btn-form seats_one">3</button></td>
                        <td><button class="btn-form seats_one">2</button></td>
                        <td><button class="btn-form seats_one">1</button></td>
                        <td colspan="7" class="td-row-right">1</td>
                    </tr>
                    <tr >
                        <td colspan="4" class="td-row-left">2</td>                       
                        <td ><button class="btn-form seats_one">12</button></td>
                        <td><button class="btn-form seats_one">11</button></td>
                        <td><button class="btn-form seats_one">10</button></td>
                        <td><button class="btn-form seats_one">9</button></td>
                        <td><button class="btn-form seats_one">8</button></td>                      
                        <td><button class="btn-form seats_one">7</button></td>
                        <td><button class="btn-form seats_one">6</button></td>
                        <td><button class="btn-form seats_one">5</button></td>
                        <td><button class="btn-form seats_one">4</button></td>
                        <td><button class="btn-form seats_one">3</button></td>
                        <td><button class="btn-form seats_one">2</button></td>
                        <td><button class="btn-form seats_one">1</button></td>
                        <td colspan="7" class="td-row-right">2</td>
                    </tr>
                    <tr >
                        <td colspan="4" class="td-row-left">3</td>                       
                        <td ><button class="btn-form seats_one">12</button></td>
                        <td><button class="btn-form seats_one">11</button></td>
                        <td><button class="btn-form seats_one">10</button></td>
                        <td><button class="btn-form seats_one">9</button></td>
                        <td><button class="btn-form seats_one">8</button></td>                      
                        <td><button class="btn-form seats_one">7</button></td>
                        <td><button class="btn-form seats_one">6</button></td>
                        <td><button class="btn-form seats_one">5</button></td>
                        <td><button class="btn-form seats_one">4</button></td>
                        <td><button class="btn-form seats_one">3</button></td>
                        <td><button class="btn-form seats_one">2</button></td>
                        <td><button class="btn-form seats_one">1</button></td>
                        <td colspan="7" class="td-row-right">3</td>
                    </tr>
                    <tr >
                        <td colspan="4" class="td-row-left">4</td>                       
                        <td ><button class="btn-form seats_one">12</button></td>
                        <td><button class="btn-form seats_one">11</button></td>
                        <td><button class="btn-form seats_one">10</button></td>
                        <td><button class="btn-form seats_one">9</button></td>
                        <td><button class="btn-form seats_one">8</button></td>                      
                        <td><button class="btn-form seats_one">7</button></td>
                        <td><button class="btn-form seats_one">6</button></td>
                        <td><button class="btn-form seats_one">5</button></td>
                        <td><button class="btn-form seats_one">4</button></td>
                        <td><button class="btn-form seats_one">3</button></td>
                        <td><button class="btn-form seats_one">2</button></td>
                        <td><button class="btn-form seats_one">1</button></td>
                        <td colspan="7" class="td-row-right">4</td>
                    </tr>
                    <tr >
                        <td colspan="4" class="td-row-left">5</td>                       
                        <td ><button class="btn-form seats_one">12</button></td>
                        <td><button class="btn-form seats_one">11</button></td>
                        <td><button class="btn-form seats_one">10</button></td>
                        <td><button class="btn-form seats_one">9</button></td>
                        <td><button class="btn-form seats_one">8</button></td>                      
                        <td><button class="btn-form seats_one">7</button></td>
                        <td><button class="btn-form seats_one">6</button></td>
                        <td><button class="btn-form seats_one">5</button></td>
                        <td><button class="btn-form seats_one">4</button></td>
                        <td><button class="btn-form seats_one">3</button></td>
                        <td><button class="btn-form seats_one">2</button></td>
                        <td><button class="btn-form seats_one">1</button></td>
                        <td colspan="7" class="td-row-right">5</td>      
                    </tr>
                    <tr >
                        <td colspan="4" class="td-row-left">6</td>                       
                        <td ><button class="btn-form seats_one">12</button></td>
                        <td><button class="btn-form seats_one">11</button></td>
                        <td><button class="btn-form seats_one">10</button></td>
                        <td><button class="btn-form seats_one">9</button></td>
                        <td><button class="btn-form seats_one">8</button></td>                      
                        <td><button class="btn-form seats_one">7</button></td>
                        <td><button class="btn-form seats_one">6</button></td>
                        <td><button class="btn-form seats_one">5</button></td>
                        <td><button class="btn-form seats_one">4</button></td>
                        <td><button class="btn-form seats_one">3</button></td>
                        <td><button class="btn-form seats_one">2</button></td>
                        <td><button class="btn-form seats_one">1</button></td>
                        <td colspan="7" class="td-row-right">6</td>
                    </tr>
                    <tr >
                        <td colspan="4" class="td-row-left">7</td>                       
                        <td><button class="btn-form seats_one">14</button></td>
                        <td><button class="btn-form seats_one">13</button></td>
                        <td><button class="btn-form seats_one">12</button></td>
                        <td><button class="btn-form seats_one">11</button></td>
                        <td><button class="btn-form seats_one">10</button></td>
                        <td><button class="btn-form seats_one">9</button></td>
                        <td><button class="btn-form seats_one">8</button></td>                      
                        <td><button class="btn-form seats_one">7</button></td>
                        <td><button class="btn-form seats_one">6</button></td>
                        <td><button class="btn-form seats_one">5</button></td>
                        <td><button class="btn-form seats_one">4</button></td>
                        <td><button class="btn-form seats_one">3</button></td>
                        <td><button class="btn-form seats_one">2</button></td>
                        <td><button class="btn-form seats_one">1</button></td>
                        <td colspan="6" class="td-row-right">7</td>            
                    </tr>
                    <tr >
                        <td colspan="4" class="td-row-left">8</td>                      
                        <td><button class="btn-form seats_one">14</button></td>
                        <td><button class="btn-form seats_one">13</button></td>
                        <td><button class="btn-form seats_one">12</button></td>
                        <td><button class="btn-form seats_one">11</button></td>
                        <td><button class="btn-form seats_one">10</button></td>
                        <td><button class="btn-form seats_one">9</button></td>
                        <td><button class="btn-form seats_one">8</button></td>                      
                        <td><button class="btn-form seats_one">7</button></td>
                        <td><button class="btn-form seats_one">6</button></td>
                        <td><button class="btn-form seats_one">5</button></td>
                        <td><button class="btn-form seats_one">4</button></td>
                        <td><button class="btn-form seats_one">3</button></td>
                        <td><button class="btn-form seats_one">2</button></td>
                        <td><button class="btn-form seats_one">1</button></td>
                        <td colspan="6" class="td-row-right">8</td>            
                    </tr>
                    <tr >
                        <td colspan="4" class="td-row-left">9</td>                      
                        <td><button class="btn-form seats_one">14</button></td>
                        <td><button class="btn-form seats_one">13</button></td>
                        <td><button class="btn-form seats_one">12</button></td>
                        <td><button class="btn-form seats_one">11</button></td>
                        <td><button class="btn-form seats_one">10</button></td>
                        <td><button class="btn-form seats_one">9</button></td>
                        <td><button class="btn-form seats_one">8</button></td>                      
                        <td><button class="btn-form seats_one">7</button></td>
                        <td><button class="btn-form seats_one">6</button></td>
                        <td><button class="btn-form seats_one">5</button></td>
                        <td><button class="btn-form seats_one">4</button></td>
                        <td><button class="btn-form seats_one">3</button></td>
                        <td><button class="btn-form seats_one">2</button></td>
                        <td><button class="btn-form seats_one">1</button></td>
                        <td colspan="6" class="td-row-right">9</td>            
                    </tr>
                    <tr >
                        <td class="td-row-left">10</td>                       
                        <td colspan="2"><button class="btn-form seats_one">13</button></td>                       
                        <td><button class="btn-form seats_one">12</button></td>
                        <td colspan="2"><button class="btn-form seats_one">11</button></td>
                        <td><button class="btn-form seats_one">10</button></td>
                        <td colspan="2"><button class="btn-form seats_one">9</button></td>
                        <td><button class="btn-form seats_one">8</button></td>                      
                        <td colspan="2"><button class="btn-form seats_one">7</button></td>
                        <td><button class="btn-form seats_one">6</button></td>
                        <td colspan="2"><button class="btn-form seats_one">5</button></td>
                        <td><button class="btn-form seats_one">4</button></td>
                        <td colspan="2"><button class="btn-form seats_one">3</button></td>
                        <td><button class="btn-form seats_one">2</button></td>
                        <td><button class="btn-form seats_one">1</button></td>
                        <td class="td-row-right">10</td>            
                    </tr>
                </table>
            </div>
        </div>
    </div>
  </div>
  
  