<section class="container" *ngIf="!rerender">     
    <div class="search">
        <div class="container">
            <div class="row">              
                <div class="col-sm-12 col-md-4">                   
                    <br/>
                    <form class="city-form">
                        <mat-form-field class="city-full-width">
                            <input matInput placeholder="Выберите город"  aria-label="City" [matAutocomplete]="auto" [formControl]="cityCtrl" >
                            <mat-autocomplete #auto="matAutocomplete">                        
                                <mat-option *ngFor="let city of filteredCities | async" [value]="city.name" (click)="onCitySelect(city)">                                
                                    <span>{{city.name}}</span> 
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>                                          
                    </form>
                </div>
                <div class="col-sm-12 col-md-8">
                    <br/>
                    <form class="seances-form">
                        <!-- <mat-form-field class="find-full-width">
                            <input matInput placeholder="Выберите фильм или кинотеатр" aria-label="Seances" [matAutocomplete]="auto" [formControl]="seancesCtrl" >
                            <mat-autocomplete #auto="matAutocomplete">                        
                                <mat-option *ngFor="let object of filteredSeances | async" [value]="object.name">                                
                                    <span>{{ object.name }}</span> 
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>                                           -->
                    </form>
                </div>                          
            </div>
        </div>
    </div>
        
    <div class="content-tabs">
        <div class="container">
            <mat-tab-group dynamicHeight disableRipple>
                <mat-tab label="ПРЕМЬЕРЫ">
                    <div class="container">
                        <div class="row">
                        <div class="card-deck">                        
                                <app-movies-cards
                                [city]="currentCity"
                                *ngFor="let movie of moviesPremeries"
                                [movie] = "movie"
                            ></app-movies-cards>
                        </div>                      
                    </div>                  
                </div>          
                </mat-tab>
                <mat-tab label="СКОРО БУДЕТ">
                        <div class="container">
                                <div class="row">
                                    <div class="card-deck">                        
                                            <app-movies-cards
                                            [city]="currentCity"
                                            *ngFor="let movie of moviesComingSoon"
                                            [movie] = "movie"
                                        ></app-movies-cards>
                                    </div>                      
                                </div>                  
                            </div>          
                </mat-tab>
                <mat-tab label="ТОП 10">
                        <div class="container">
                            <div class="row">
                                <div class="card-deck">                        
                                        <app-movies-cards
                                        [city]="currentCity"
                                        *ngFor="let movie of moviesTop10"
                                        [movie] = "movie"
                                    ></app-movies-cards>
                                </div>                      
                            </div>                  
                        </div>          
                </mat-tab>
                <mat-tab label="КИНОТЕАТРЫ">                           
                    <div class="container">
                        <div class="row">
                            <div class="card-deck">                        
                                   <app-cinemas-cards
                                   [city]="currentCity"
                                   *ngFor="let cinema of cinemas"
                                   [cinema]="cinema"
                                   ></app-cinemas-cards>
                            </div>                      
                        </div>                  
                    </div>         
                </mat-tab>
            </mat-tab-group>
        </div>
    </div> 
    <div id="google_map">
        <div class="container">
            <h3>Кинотеатры на карте</h3>
        </div>
        <div class="container">        
            <app-cinemas-map ngOnChanges
            [city]="currentCity"
            [cinemas] = "cinemas"
            ></app-cinemas-map>
        </div>
    </div>                                        
</section>

