<div class="container">
  <div class="row">
      <div class="col">
          <div id="hall" >
              <table style="margin: 0 auto;">
                  <tr>
                      <td colspan="8">
                          <div class="text-center" style="background-color: lightgray">Экран</div>
                      </td>
                  </tr>
                  <tr >
                      <td >Ряд 1</td>
                      <td><button>1</button></td>
                      <td><button>2</button></td>
                      <td><button>3</button></td>
                      <td><button>4</button></td>
                      <td><button>5</button></td>
                      <td><button>6</button></td>
                      <td >Ряд 1</td>
                  </tr>
                  <tr >
                      <td >Ряд 2</td>
                      <td><button>1</button></td>
                      <td><button>2</button></td>
                      <td><button>3</button></td>
                      <td><button>4</button></td>
                      <td><button>5</button></td>
                      <td><button>6</button></td>
                      <td >Ряд 2</td>
                  </tr>
                  <tr >
                      <td >Ряд 3</td>
                      <td><button>1</button></td>
                      <td><button>2</button></td>
                      <td><button>3</button></td>
                      <td><button>4</button></td>
                      <td><button>5</button></td>
                      <td><button>6</button></td>
                      <td >Ряд 3</td>
                  </tr>
                  <tr >
                      <td >Ряд 4</td>
                      <td><button>1</button></td>
                      <td><button>2</button></td>
                      <td><button>3</button></td>
                      <td><button>4</button></td>
                      <td><button>5</button></td>
                      <td><button>6</button></td>
                      <td >Ряд 4</td>            
                  </tr>
              </table>
          </div>
      </div>
  </div>
</div>