<div class="container">
  <br/>
  <div class="row">

    
    <br/>
    <div id="seance_info" class="container">
      <div class="row">
        <div class="col-12">
          <h5>Билеты на фильм</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h6>{{movie.name}}</h6>
        </div>
      </div>

      <div class="row">
       
      </div>

    </div>

    <br/>
    <div id="tickets" class="container">

    </div>

    <br/>
    <div id="input_client_info" class="container">

    </div>

    <br/>
    <div id="timer" class="container">

    </div>

    <br/>
    <div id="payment" class="container">

    </div>

  </div>
</div>