@model IEnumerable<COTS.WEB.Models.MovieViewModel>

@{
    ViewBag.Title = "index";
}
    @foreach (var item in Model)
    {
        <div class="row">
            <p>@item.Name</p>
        </div>
    }

    