@import "~@angular/material/prebuilt-themes/indigo-pink.css";




/*template colors*/
.light-blue-jay{
    background-color: #98dafc !important;
}

.human-skin-jay{
    background-color: #daad86 !important;
}

.black-brown-jay{
    background-color: #312c32 !important;
}
