<div class="container">

  <!--buttons-->
  <div class="row">
    <div class="container">
     
      <div class="row">
        <div class="container">
          <br/>
          <div class="row">
            <div class="col">
              <b>Поиск по параметрам: </b>
            </div>        
          </div>
          <div class="row">
              <div class="col-lg-3 controls_style">
                <mat-form-field class="controls_style">
                    <mat-select placeholder="Выберете зал">
                      <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{ food.viewValue }}
                      </mat-option> -->
                    </mat-select>
                  </mat-form-field>
              </div>
      
              <div class="col-lg-3 controls_style">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Выберете дату">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
      
              <div class="col-lg-3 controls_style">
                <mat-form-field class="controls_style">
                  <mat-select placeholder="Выберете время">
                    <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{ food.viewValue }}
                    </mat-option> -->
                  </mat-select>
                </mat-form-field>          
              </div>
      
              <div class="col-lg-3 controls_style">
                <mat-form-field class="controls_style">
                  <mat-select placeholder="Выберете фильм">
                    <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{ food.viewValue }}
                    </mat-option> -->
                  </mat-select>
                </mat-form-field>
              </div>
          </div>
        </div>    
      </div>

    </div>
  </div>

  

   <!--result of filters-->
   <div class="row" id="result_container" *ngIf="!enableList">
      <br/>
      <div class="container">
        <div class="row">
          <mat-list class="container" >                     
              <mat-list-item *ngFor="let shoe of typesOfShoes" class="row" id="list_seances">
                <div class="col-lg-6">
                  {{shoe}}
                </div>
                <div class="col-lg-6 text-right">
                  <button mat-button class="button_style">Редактировать</button>
                  <button mat-button class="button_style">Удалить</button>
                </div>
              </mat-list-item>
            </mat-list>       
        </div>
      </div>
   </div>
   <br/>

    <!--buttons-->
    <div class="row">        
      <div class="container">
        <div class="row">
          <div class="col">
              <button mat-button class="btn_content_style">Добавить сеанс</button>    
          </div>
        </div>
      </div>    
    </div>
    <br/> 
</div>
