/* .controls_style{
    width: 70%;
} */

.btn_content_style{
    background: #ee387e;
    font-weight: bold;
    color: white;
    border: 1px solid white;
}

/* .btn_content_styles{

} */


.button_style{
    background: white;
    border: 1px solid gray; 
    color: black;  
}

/* #list_seances{
    background: rgb(238, 130, 175);
} */