<div class="container">

  <!--filter-->
  <div class="row">
    <div class="container">   
      <div class="row">
        <div class="container">
          <br/>
          <div class="row">
            <div class="col-lg-12">
              <b>Поиск по параметрам: </b>
            </div>        
          </div>
          <div class="row">
              <div class="col-lg-2 controls_style">
                <mat-form-field >
                    <mat-select placeholder="Зал">
                      <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{ food.viewValue }}
                      </mat-option> -->
                    </mat-select>
                  </mat-form-field>
              </div>
      
              <div class="col-lg-2 controls_style">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Дата">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
      
              <div class="col-lg-2 controls_style">
                <mat-form-field>
                  <mat-select placeholder="Время">
                    <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{ food.viewValue }}
                    </mat-option> -->
                  </mat-select>
                </mat-form-field>          
              </div>
      
              <div class="col-lg-2 controls_style">
                <mat-form-field>
                  <mat-select placeholder="Фильм">
                    <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{ food.viewValue }}
                    </mat-option> -->
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-lg-2 controls_style">
                <mat-form-field class="controls_style">
                  <mat-select placeholder="Технология">
                    <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{ food.viewValue }}
                    </mat-option> -->
                  </mat-select>
                </mat-form-field>
              </div>
          </div>
        </div>    
      </div>

    </div>
  </div>

  

   <!--result of filters-->
   <div class="row" id="result_container" *ngIf="!enable">
      <br/>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
              <div class="table-container mat-elevation-z8">
                <mat-table #table [dataSource]="dataSource" matSort class="content_bg">
              
                  <!-- Position Column -->
                  <ng-container matColumnDef="position">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                  </ng-container>
              
                  <!-- Date Column -->
                  <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Дата </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
                  </ng-container>
              
                  <!-- Time Column -->
                  <ng-container matColumnDef="time">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Время </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.time}} </mat-cell>
                  </ng-container>
              
                  <!-- Movie Column -->
                  <ng-container matColumnDef="movie">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Фильм </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.movie}} </mat-cell>
                  </ng-container>

                   <!-- Technology Column -->
                  <ng-container matColumnDef="technology">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Технология </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.technology}} </mat-cell>
                  </ng-container>

                  <!-- Hall Column -->
                  <ng-container matColumnDef="hall">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Зал </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.hall}} </mat-cell>
                  </ng-container>

                  <!-- Edit Column -->
                  <ng-container matColumnDef="edit">
                    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>                    
                    <mat-cell *matCellDef="let element">
                        <button mat-button class="btn_content_style" (click)="clickEdit(element.id)">Изменить</button> 
                    </mat-cell>
                  </ng-container>

                  <!-- Delete Column -->
                  <ng-container matColumnDef="delete">
                      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>                    
                      <mat-cell *matCellDef="let element">
                          <button mat-button class="btn_content_style" (click)="clickDelete(element.id)">Удалить</button> 
                      </mat-cell>
                    </ng-container>
              
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              </div>
          </div>
           
        </div>
      </div>
   </div>
   <br/>

    <!--buttons-->
    <div class="row">        
      <div class="container">
        <div class="row">
          <div class="col">
              <button mat-button class="btn_content_style" (click)="clickAdd()">Добавить сеанс</button>    
          </div>
        </div>
      </div>    
    </div>
    <br/> 
</div>
