.red-sector{
    background-color: red;
    color: white;
    border-color: rgb(187, 9, 9);
}

.green-sector{
    background-color: green;
    color: white;
    border-color: rgb(3, 94, 3);
}

.blue-sector{
    background-color: blue;
    color: white;
    border-color: rgb(6, 6, 207);
}

.cyan-sector{
    background-color: cyan;
    color: black;
    border-color:rgb(1, 116, 116)
}