<br/>
<div class="container">
  <div class="row">
    <div class="card w-100">
      <div class="card-block">        
        <div class="container"> 
          
            <br/>
            <div class="container">               
                <div class="row">
                  <div class="col-12">
                      <div class="container">
                          <div class="row">
                              <h4 class="card-title">{{_movieName}}</h4>
                          </div>
                          <div class="row">
                                <p class="card-title">{{_movieAgeCategory}}</p>
                            </div>
                            
                        </div>
                  </div>              
                </div>

            </div>

          <!--Content-->
          <div class="row">
            
            <!--left side-->
            <div class="col-lg-8">
              <div class="container">
                <br/>
                <div class="row">
                    <div class="container">                    
                        <div class="row">
                            <div class="col-lg-6">
                              <div class="container">
                                <div class="row">
                                    <img src="{{_movieImage}}" />
                                </div>
                                <div class="row text-center">
                                    <div class="container">
                                        <a href="{{_movieTrailer}}">Смотреть Трейлер</a>
                                    </div>                       
                                </div>
                              </div>
                                
                            </div>  
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="container">
                                        <div class=row>
                                            <h6 class="card-text">Описание</h6>
                                        </div>
                                        <div class=row>
                                            <p class="card-text">{{_movieDescription}}</p>
                                        </div>
                                      </div>
                                </div>
                            </div>                          
                        </div>                       
                    </div>
                </div>
              </div>        
            </div>
             <!--right side-->
            <div class="col-lg-4">
                <div class="container">
                    <br/>
                    <div class="row">
                        <div class="container">
                            <div class=row>
                                <h6 class="card-text">Премьера:</h6>
                            </div>
                            <div class=row>
                                <p class="card-text">10.10.1000</p>
                            </div>
                          </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="container">
                            <div class=row>
                                <h6 class="card-text">Страна(ы):</h6>
                            </div>
                            <div class=row>
                                <p class="card-text">{{_movieCountry}}</p>
                            </div>
                          </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="container">
                            <div class=row>
                                <h6 class="card-text">Длительность:</h6>
                            </div>
                            <div class=row>
                                <p class="card-text"> {{_movieDuration}} мин.</p>
                            </div>
                          </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="container">
                            <div class=row>
                                <h6 class="card-text">Жанр: </h6>
                            </div>
                            <div class=row>
                                <p class="card-text">{{_movieGenre}}</p>
                            </div>
                          </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="container">
                            <div class=row>
                                <h6 class="card-text">Режиссер:</h6>
                            </div>
                            <div class=row>
                                <p class="card-text">{{_movieDirector}}</p>
                            </div>
                          </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="container">
                            <div class=row>
                                <h6 class="card-text">В ролях:</h6>
                            </div>
                            <div class=row>
                                <p class="card-text">{{_movieActors}}</p>
                            </div>
                          </div>
                    </div>
                </div>        
            </div>
          </div>
          <br/>
        </div>
      </div>
    </div>   
  </div>  
</div>
<br/>