@model IEnumerable<COTS.WEB.Models.CinemaViewModel>


@{
    ViewBag.Title = "GetAllByCity";
}

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
    </tr>
}
