@model IEnumerable<COTS.WEB.Models.CinemaViewModel>

@{
    ViewBag.Title = "GetAllWithSeancesByCity";
}

 <!--cinemas block-->
<div id="blocks_"></div>
@*<div class="cinemas_block">
    <div class="row" style="border: 1px solid #BDBDBD; padding: 5px;">
        <div class="col-lg-4">
            <div class="row"></div>
        </div>

        <div class="col-lg-8">  
            <div class="btns_seances"></div>
        </div>
    </div>
</div>*@

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(function () {
        @*$.getJSON('@Url.Action("GetAllByCityJson", "Cinema", new { cinemaId = ViewBag.CityId, date = ViewBag.Date })', function (data)){
            console.log(data);
        }*@
    });
</script>


<!--$('#btns_seances').load('Url.Action("GetAllByCinemaAndDate", "Seance", new { cinemaId = item.Id, date = ViewBag.Date })');-->



