@model IEnumerable<COTS.WEB.Models.CinemaViewModel>

@{
    ViewBag.Title = "GetAllWithSeancesByCity";
}

 <!--cinemas block-->
@foreach (var item in Model)
{
    <div id="cinemas_block">
        <div class="row" style="border: 1px solid #BDBDBD; padding: 5px;">
            <div class="col-lg-4">
                <div id="row">
                    <p>@item.Name</p>
                </div>
            </div>

            <div class="col-lg-8">  
                @*<div id="btns_seances">@Html.Action("GetAllByCinemaAndDate", "Seance", new { cityId = item.Id, date = ViewBag.Date})</div>*@
            </div>
        </div>
    </div>

}






