@model COTS.WEB.Models.PurchaseViewModel

@{
    ViewBag.Title = "Ordering";
}

<h2>Оформить покупку</h2>
<main>
    <div class="row">
        <form>
            Имя :<br>
            <input type="text" id="name" value="">
            <br>
            Email:<br>
            <input type="text" id="e-mail" value="">
            <br><br>
            <input type="button" id="payment" value="Оплатить">
        </form> 
    </div>
   <div class="row">
       <div id="result"></div>
   </div>
</main>



<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script type="text/javascript">

    $(function () {
        $("#payment").on('click', function () {
            var purchase = {
                Id: '@Model.Id',
                ClientName : $('#name').val(),
                ClientEmail : $('#e-mail').val()
            };

            $.post('@Url.Action("Payment", "Ticket")', { purchaseViewModel: purchase }, function (data) {
                $("#result").html(data);
            });

        });
    });
</script>