<br/>
<div class="container">
    <div class="row">
    <div class="col-lg-3 col-md-6">
        {{cinema.name}}
    </div>
    <div class="col-lg-9 col-md-6">
        <div class="container">
            <div class="row">
                    <app-seances-by-cinemas ngOnChanges
                    [movieId]= "movieId"
                    [cinemaId]= "cinema.id"      
                    *ngFor="let seance of seances"
                    [seance] = "seance"
                ></app-seances-by-cinemas>
            </div>
            
        </div>
    </div>
    </div>
</div>

