<br/>
<section class="container" *ngIf="!isLoad">
    <div class="row justify-content-md-center">
        <div class="col-lg-2">
            <div class="spinner-container spinner-container-movies">
                <mat-spinner [diameter]='50' ></mat-spinner>
            </div>            
        </div>
    </div>
</section>

<div class="container" *ngIf="isLoad">
    <div class="row">
    <div class="col-lg-3 col-md-6">
        {{movie.name}}
    </div>
    <div class="col-lg-9 col-md-6">
        <div class="container">
            <div class="row">
                    <app-seances-by-movies ngOnChanges 
                    [enterpriseId] = "enterpriseId"               
                    *ngFor="let seance of seances"
                    [seance] = "seance"
                ></app-seances-by-movies>
            </div>
            
        </div>
    </div>
    </div>
</div>