<br/>
<div class="container" id="auth">
    <div class="auth-title">
      <h4>Авторизация</h4>
    </div>
    <div class="error-login" *ngIf="wrongLogin">
      <h6>Неправильный пароль, логин или кинотеатр</h6>
    </div>
    <br/>
    <div class="auth-container">
      <mat-form-field>
        <mat-select placeholder="Выберете город" [(ngModel)]="model.city" name="city" (selectionChange)="onSelectCity(model.city)">
          <mat-option *ngFor="let city of cities" [value]="city.name">
            {{city.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Выберете кинотеатр" [(ngModel)]="model.cinema" name="cinema" >
          <mat-option *ngFor="let cinema of cinemas" [value]="cinema.name" >
            {{cinema.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Введите логин" name="login" [(ngModel)]="model.login" #login="ngModel" required required >  
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Введите пароль" type="password"  name="password" [(ngModel)]="model.password" #password="ngModel" required>   
      </mat-form-field>

      <div class="btn-container">          
          <button mat-button class="button_style" (click)="onEnterToAdmin()">Войти</button>
          <button mat-button class="button_style" (click)="onWindowReload()">Отмена</button>          
      </div>

    </div>
    <div style="height: 350px;">

    </div>
 
</div> 
<br/>
