<div class="container">

    <!--buttons-->
    <div class="row">
      <div class="container">

        <br/>
        <div class="row">
            <div class="col">
              <b>Поиск по параметрам: </b>
            </div>        
        </div>


        <div class="row">
          <div class="col-lg-3 controls_style">
            <mat-form-field class="controls_style">
                <mat-select placeholder="День недели" >
                  <!-- <mat-option *ngFor="let category of categories" [value]="category">
                    {{ category }}
                  </mat-option> -->
                </mat-select>
              </mat-form-field>
          </div>

          <div class="col-lg-3 controls_style">
              <mat-form-field class="controls_style">
                  <mat-select placeholder="Время суток">
                    <!-- <mat-option *ngFor="let category of categories" [value]="category">
                      {{ category }}
                    </mat-option> -->
                  </mat-select>
                </mat-form-field>
            </div>
  
          <div class="col-lg-3 controls_style">
              <mat-form-field class="controls_style">
                  <mat-select placeholder="Сектор">
                    <!-- <mat-option *ngFor="let category of categories" [value]="category">
                      {{ category }}
                    </mat-option> -->
                  </mat-select>
              </mat-form-field>
          </div>

        </div>
      </div>
    </div>
  
     <!--result of filters-->
      <div class="row" id="result_container" *ngIf="!enable">
      <br/>
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <div class="table-container mat-elevation-z8">
                <mat-table #table [dataSource]="dataSource" matSort class="content_bg">
              
                  <!-- Position Column -->
                  <ng-container matColumnDef="position" >
                    <mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20px;"> No. </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Название </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                  </ng-container>
              
                  <!-- Week Day -->
                  <ng-container matColumnDef="week_day">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>День недели</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.weekDay}} </mat-cell>
                  </ng-container>

                  <!-- Time Period -->
                  <ng-container matColumnDef="time_period">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Время суток</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.timePeriod}} </mat-cell>
                  </ng-container>

                  <!-- Technology -->
                  <ng-container matColumnDef="technology">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Технология</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.technology}} </mat-cell>
                  </ng-container>

                  <!-- Sector -->
                  <ng-container matColumnDef="sector">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Сектор</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.sector}} </mat-cell>
                  </ng-container>

                   <!-- Price -->
                   <ng-container matColumnDef="price">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Прайс</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
                    </ng-container>

                  <!-- Edit Column -->
                  <ng-container matColumnDef="edit">
                    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>                    
                    <mat-cell *matCellDef="let element">
                        <button mat-button class="btn_content_style" (click)="clickEdit(element.id)">Изменить</button> 
                    </mat-cell>
                  </ng-container>
    
                  <!-- Delete Column -->
                  <ng-container matColumnDef="delete">
                      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>                    
                      <mat-cell *matCellDef="let element">
                          <button mat-button class="btn_content_style" (click)="clickDelete(element.id)">Удалить</button> 
                      </mat-cell>
                    </ng-container>
              
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>         
          </div>
        </div>
      </div>
   </div>
   <br/>
  
     <!--button-->
  <div class="row">        
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <button mat-button class="btn_content_style">Добавить тариф</button>    
        </div>
      </div>
    </div>    
  </div>
  <br/> 
  
  </div>
  
  