<div class="container">

    <!--buttons-->
    <div class="row">
      <div class="container">

        <br/>
        <div class="row">
            <div class="col">
              <b>Поиск по параметрам: </b>
            </div>        
        </div>


        <div class="row">
          <div class="col-lg-3 controls_style">
            <mat-form-field class="controls_style">
                <mat-select placeholder="День недели" >
                  <!-- <mat-option *ngFor="let category of categories" [value]="category">
                    {{ category }}
                  </mat-option> -->
                </mat-select>
              </mat-form-field>
          </div>

          <div class="col-lg-3 controls_style">
              <mat-form-field class="controls_style">
                  <mat-select placeholder="Время суток">
                    <!-- <mat-option *ngFor="let category of categories" [value]="category">
                      {{ category }}
                    </mat-option> -->
                  </mat-select>
                </mat-form-field>
            </div>
  
          <div class="col-lg-3 controls_style">
              <mat-form-field class="controls_style">
                  <mat-select placeholder="Сектор">
                    <!-- <mat-option *ngFor="let category of categories" [value]="category">
                      {{ category }}
                    </mat-option> -->
                  </mat-select>
              </mat-form-field>
          </div>

        </div>
      </div>
    </div>
  
     <!--result of filters-->
      <div class="row" id="result_container" *ngIf="!enableList">
      <br/>
      <div class="container">
        <div class="row">
          <mat-list class="container" >                     
              <mat-list-item *ngFor="let shoe of typesOfShoes" class="row content_bg">
                <div class="col-lg-8">
                  {{shoe}}
                </div>
                <div class="col-lg-4 text-right">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-6">
                          <button mat-button class="btn_content_style">Редактировать</button>
                      </div>
                      <div class="col-lg-6">
                          <button mat-button class="btn_content_style">Удалить</button>
                      </div>
                    </div>
                  </div> 
                </div>
              </mat-list-item>
            </mat-list>       
        </div>
      </div>
   </div>
   <br/>
  
     <!--button-->
  <div class="row">        
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <button mat-button class="btn_content_style">Добавить тариф</button>    
        </div>
      </div>
    </div>    
  </div>
  <br/> 
  
  </div>
  
  