
@{
    ViewBag.Title = "ExampleViews";
}

<h2>ExampleViews</h2>

<div id="seances_block">

    <!--date block-->
    <div id="select_date">
        <div class="row" style="border: 1px solid #BDBDBD; padding: 5px;">
            <div class="col-lg-12">
                <h5>Select date</h5>
                
            </div>
        </div>
    </div>



    <!--cinemas block-->
    <div id="cinemas_block">
        <div class="row" style="border: 1px solid #BDBDBD; padding: 5px;">
            <div class="col-lg-4">
                <div id="row">
                    <p>Multiplex</p>
                </div>
            </div>

            <div class="col-lg-8">
                <div id="btns_seances">
                    <button class="col">11:00</button>
                    <button class="col">12:20</button>
                    <button class="col">16:30</button>
                </div>
            </div>
        </div>
    </div>
</div>