
<div mat-dialog-actions>
    <button mat-button mat-dialog-close class="button_style">Выбрать другой сеанс</button>
</div>
<h1 mat-dialog-title>{{movie?.name}}</h1>

<div mat-dialog-content>
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <p><b>Кинотеатр:</b> {{cinema?.name}} ({{cinema?.address}})</p>
        </div>
        <div class="col-lg-2">
            <p><b>Зал:</b>  {{hall?.name}}</p>
        </div>
        <div class="col-lg-3">
          <p><b>Сеанс:</b> {{seance?.dateStr}} {{seance?.timeStr}} </p>
        </div>        
      </div>
      
      <!--tariffs-->
      <div class="row">
          <div class="container">
            <div class="row">
              <div id="sectors_tariffs"></div>
              <!-- <div *ngFor="let tariff of tariffs" class="col-lg-2 col-md-4 col-6">
                  <div class="container">                   
                      <div class="row">
                          <div class="col-lg-4 col-md-2 col-4">
                               <div style="width:15px; height: 15px; margin-top: 5px;"></div>
                          </div>
                          <div class="col-lg-8 col-md-10 col-8">
                              <span > {{tariff.price}} грн.</span>   
                          </div>     
                     </div>
                  </div>                                 
            </div> -->
          </div>        
        </div>
      </div>     
    </div>

    <div class="container">
      <div class="row">
          <div class="col-lg-6">
            <div #hallcomponent></div>
          </div>
          <div class="col-lg-6">

            <div class="container">
              <div id="selected_places"></div>              
              
              <div class="row">
                <div class="container" *ngIf="show" id="payButton">
                  <div class="row">
                    <div class="col-lg-4">
                      <button (click)="goToPayment()">Оплатить</button>
                    </div>
                    <div class="col-lg-4">
                      Количество: {{places.length}}                      
                    </div>
                    <div class="col-lg-4">
                      Сумма {{sum}}грн.
                   </div>
                  </div>
                </div>
              </div>

            </div>

            
            
          </div>
      </div>
    </div>
   
</div>

