
<h1 mat-dialog-title>{{seance.movie.name}}</h1>

<div mat-dialog-content>
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <p><b>Кинотеатр:</b> {{seance.hall.cinema.name}} ({{seance.hall.cinema.address}})</p>
        </div>
        <div class="col-lg-2">
            <p><b>Зал:</b>  {{seance.hall.name}}</p>
        </div>
        <div class="col-lg-3">
          <p><b>Сеанс:</b> {{seance.dateStr}} {{seance.timeStr}} </p>
        </div>
        
      </div>
    </div>

    <div class="container">
      <div class="row">
          <div class="col-lg-6">
            <div #hallcomponent></div>
          </div>
          <div class="col-lg-6">

            <div class="container">
              <div id="selected_places"></div>              
              
              <div class="row">
                <div class="container" *ngIf="show" id="payButton">
                  <div class="row">
                    <div class="col-lg-4">
                      <button (click)="goToPayment()">Оплатить</button>
                    </div>
                    <div class="col-lg-4">
                      Количество: {{places.length}}                      
                    </div>
                    <div class="col-lg-4">
                      Сумма {{sum}}грн.
                   </div>
                  </div>
                </div>
              </div>

            </div>

            
            
          </div>
      </div>
    </div>
   
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div>
